@charset "UTF-8";

/* Button reset */
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(img/SRBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 100vh;
}
.content-container{
    width: 95%;
    height: 100vh;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    
}
.card{
    width: 200px;
    height: 360px;
    background-color: brown;
    margin: 10px;
    flex-flow: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 86%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-image: linear-gradient(to bottom, gold, gray) 8;
    border-width: 2px;
    border-style: solid;
    p{
        color: aliceblue;
        font-size: 1.5em;
    }
    
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

    
}
.content-container>.content:nth-child(2){
    
}
#ally1{
    background-image: url(img/darius.webp);
    background-position: 60% center;
}
#ally2{
    background-image: url(img/seju.webp);
    background-position: 60% center;
}
#ally3{
    background-image: url(img/ahri.webp);
    background-position: 49% center;
}
#ally4{
    background-image: url(img/jhin.webp);
    background-position: 60% center;
}
#ally5{
    background-image: url(img/nami.webp);
    background-position: 80% center;
}
#enemy1{
    background-image: url(img/fiora.webp);
    background-position: 80% center;
}
#enemy2{
    background-image: url(img/leesin.jpg);
    background-position: 80% center;    
}
#enemy3{
    background-image: url(img/hwei.jpg);
    background-position: 50% center;    
}
#enemy4{
    background-image: url(img/jinx.jpg);
    background-position: 80% center;    
}
#enemy5{
    background-image: url(img/pyke.jpg);
    background-position: 50% center;    
}
.info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, rgba(20, 20, 20, 0.897) 70%, transparent);
    height: 50px;
    width: 197px;
}

.info > img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    
}

.spell{
    margin: 5px;
    
    

    img{
        width: 20px;
        
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    right: 50%;
    /* https://cursos.alura.com.br/forum/topico-por-que-usar-o-transform-translate-50-50-228127 */
    transform: translateX(50%);
    
    /* docs -> https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
    /* generator -> https://bennettfeely.com/clippy/ */
    clip-path: polygon(43% 0, 100% 0, 82% 100%, 18% 100%, 0 0);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 50px;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb#a */
    background: rgba(0, 0, 0, .5);
}

.toggle-button {
    height: 40px;
    width: 40px;
    margin: 4px;

    color: transparent;
    background-color: white;

    /* https://codepen.io/noahblon/post/coloring-svgs-in-css-background-images#css-masks-1 */
    mask: url('/img/maestry.svg') no-repeat 50% 50%;
    mask-size: cover;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: background-color 500ms;
}

.toggle-button:hover {
    cursor: pointer;
    box-shadow: 0px -1px 28px -11px rgba(0,0,0,0.75);

    background-color: magenta; /* rosa choque neh mores */
}

.maestry-content {
    /* bota codigo aqui ai ai bota (◡ ‿ ◡ ) */
}